@page
@model SmartHive.RoomManagerSvc.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].ExchangeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].TitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Namespace)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
