@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    var newsEvents = @Model.Descendants("Newslist").First();
    <div class="well">
        <h3><a href="@newsEvents.Url">@newsEvents.Name</a></h3>
        <ul class="unstyled">
        @foreach (var item in newsEvents.Children.OrderBy("NewsDate desc").Take(3))
        {
            <li><span class="label">@item.NewsDate.ToString(@Dictionary.TimeFormat)</span> <a href="@item.Url">@item.Name</a></li>
        }
        </ul>
    </div>
}