@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    <ul class="thumbnails">
    @foreach (var item in @Model.Children)
    {
        var image = RenderPage("ResizeImage.cshtml", item.GalleryThumbnail.ToString(), "260", "180", "", "ffffff");
        var count = item.Children.Count();
        var photoText = string.Format("{0} ({1} {2}{3})", item.Name, count, @Dictionary.Photo, count > 1 ? "s" : string.Empty);
        <li class="span3">
            <a href="@item.Url" title="@photoText" class="thumbnail">@image</a>
        </li>
    }
    </ul>
}